<!DOCTYPE html>
<html>
<!--
  * Please see the included README.md file for license terms and conditions.
  -->
<head>
    <title>Blank App Designer Packaged Web App Project Template</title>
    <meta http-equiv="Content-type" content="text/html; charset=utf-8">
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
    <meta name="viewport" content="width=device-width, minimum-scale=1, initial-scale=1, user-scalable=no">
    <link rel="stylesheet" href="../css/app.css">

     <script src="../js/jquery.js"></script> 
    <script src="../js/knockout.js"></script>
    <script src="../js/pronasao.js"></script> 
</head>


<body>
 <ul data-bind="foreach: dogs">
    <li>
        <span data-bind="text: name"></span>
        <span data-bind="text: kind"> </span>
        <img data-bind="attr:{src: 'data:slika1}, click: $root.xx" />
    </li>
</ul>
</body>
</html>
